<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AzureCognitiveServiceSubscriptionKey" value="3f54b7cfa7b445148082083ed5e5c172"/>
    <add key="AzureCognitiveServiceEndpoint" value="https://{0}.api.cognitive.microsoft.com/"/>
    <add key="AzureRegion" value="westus"/>
  </appSettings>
</configuration>